DB_USERNAME=POSTGRES_USERNAME
DB_PASSWORD=POSTGRES_PASSWORD
DB_HOST=127.0.0.1
TCP_PORT=3001
NODE_ENV=development
SESSION_SECRET=SESSION_SECRET_VALUE
CLIENT_ID=tessel-cloud-dev
CLIENT_SECRET=the-tessel-devenv
GRANT_TYPE=https://tessel-grant
OAUTH_SERVER=http://127.0.0.1:3002
OAUTH_REDIRECT=http://127.0.0.1:3000/oauth_redirect